# --- Unity Ideiglenes mappák ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# --- Visual Studio & VS Code ---
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.ipch
*.dgsl
*.VC.db
*.assetuserstate
*.slnx

# --- Unity által generált egyéb fájlok ---
.DS_Store
sysinfo.txt
[Aa]ssets/AssetStoreTools*
[Aa]ssets/StreamingAssets/aa/*
[Aa]ssets/StreamingAssets/AddressablesMainContent*

# --- Build kimenetek ---
*.apk
*.aab
*.unitypackage
*.exe
*.app
*.dll
*.pdb
*.exp
*.lib

# --- Operációs rendszer fájlok ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Crashlytics & Verziókövetés ---
crashlytics-build.properties
.collabignore